/* ==========================================================================
	Variables
========================================================================== */

// Fonts
$sans:  Arial, Helvetica, sans-serif;
$serif: "Times New Roman", serif;

$base-font-size: 16px;

// Media Query Breakpoints
$xsmall:      20em;      // 320px
$small:       30em;      // 480px
$medium:      48em;      // 768px
$large:       64.0625em; // 1025px (because iPad)
$xlarge:      80em;      // 1280px

// Colors
$blue:        #0265F2;